.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.navbar-element {
  margin: 0 15px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}
